<form action="<%= home_index_path %>" method="GET">
  <input type="text" name="username" />
  <input type="password" name="password" />
  <input type="profile" name="profile" />
  <input type="submit" />
</form>